*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #C7EFCF;
}

#menu{
    width: 800px;
    height: 475px;
    background-color: #FE5F55;
    margin: auto;
    margin-top: 75px;
    padding: 20px;
    border-radius: 10px;
    flex: 0 1 auto;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.28);
}

div#points{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.35em;
    height: auto;
}

p#CP, p#HP{
    padding: 4px 15px;
    margin-left: 15px;
    background-color: #626a85;
    border-radius: 10px;
}

.pointDisplay{
    color: white;
    background-color: #333745;
    border-radius: 10px;
    padding: 8px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.28);
}

div#result{
    color: white;
    background-color: #333745;
    border-radius: 10px;
    padding: 8px;
    width: 100px;
    text-align: center;
}

div#UserChoices{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    height: 100%;
}

button{
    height: 150px;
    width: 200px;
    flex: 0 1 auto;
    border-radius: 50px;
    background-color: #d3a6b0;
    font-size: 2em;
    color: white;
    font-weight: bolder;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.28);
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: #ffd9e1;
    transition-duration: 0.2s;
}

div#container{
    background-color: #BA324F;
    color: white;
    width: 800px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.28);
}

div.result{
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid white;
}
